@import url("https://fonts.googleapis.com/css2?family=Economica&family=Grape+Nuts&family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("https://img.freepik.com/premium-vector/sky-clouds-design-with-flat-cartoon-poster-flyers-postcards-web-banners_771576-58.jpg?size=626&ext=jpg&ga=GA1.1.1604523956.1723195237&semt=ais_hybrid");
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 {

  padding: 20px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #1f7699;
  display: flex;
  justify-content: center;
  align-items: center;
}


.abhi{
  color: #ffffff;
}

.weather {
  z-index: 2;
  display: flex;
  align-items: center;
  color: white;
}

.weather > div {
  margin: 0.625rem;
}


.weather p {
  font-size: 5rem;
}
.weather span {
  padding-top: 30 px;
  font-size: 1rem;
}

.weather3 span {
  margin: 0.3rem;
}

.weather3 img {
  width: 2rem;
}
.nav {
  height: 100px;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(10, 205, 52, 0.504);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav form {
  width: 70%;
  grid-template-columns: 5fr 1fr;
  display: grid;
}

.searchField {
  font-size: 1.1rem;
  outline: none;
  color: white;
  background-color: transparent;
  padding: 1rem 0;
  border: none;
  border-bottom: 2px solid white;
  width: 98%;
}

.nav form button {
  background-color: #4ecdc4;
  font-size: 1.1rem;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.time_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::placeholder{
  color: #ffffff;
}